@model IEnumerable<CloudSync.Models.FavouriteSong>

<div class="favourites-column">
    <h2 class="column-headings">My Favourites</h2>
    <ul class="list-group">
        @if (Model.Any())
        {
            @foreach (var favourite in Model)
            {
                <li class="list-group-item d-flex align-items-center">
                    <!-- song image -->
                    <img src="@Url.Content(favourite.Song.SongImage)" alt="Song Image" class="img-fluid rounded-image me-3" style="max-width: 50px;">

                    <!-- song and artist info -->
                    <div class="song-info">
                        <p class="song-name mb-0">@favourite.Song.SongName</p>
                        <p class="artist-name text-muted mb-0">@favourite.Song.Artist.ArtistName</p>
                    </div>
                </li>
            }
        }
        else
        {
            <p>No favourite songs added yet!</p>
        }
    </ul>
</div>
